@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap')

h1, h2, h3, h4, h5, p, a
  margin: 0

h6
  color: #908F8F
  margin: 0 0 6px 0

svg
  width: 100%
  height: auto
  margin: 0 0 40px 0

.flex
  display: flex
  justify-content: space-between

.app
  display: flex
  flex-direction: column
  align-items: center
  height: 100vh
  margin: 40px

  .titleContainer
    text-align: center
    margin: 0 0 40px 0
  
    .title
      font-weight: 500
      margin: 0 0 10px 0

    .subtext
      color: #677788

  .containerOutput
    width: -webkit-fill-available
    width: -moz-available

    .binInput
      width: -webkit-fill-available
      width: -moz-available

      .binTitle
        color: #000
        text-align: center

      input
        font-size: 18px
        text-align: center
        padding: 10px 0
        width: -webkit-fill-available
        width: -moz-available
        border-width: 2px
        border-radius: 8px
        margin: 0 0 40px 0

    .output
      background: #F0F0F0
      width: -webkit-fill-available
      width: -moz-available
      padding: 8px 8px
      border-radius: 8px
      margin: 0 0 10px 0
      text-transform: uppercase

@media screen and ( min-width: 565px )
  svg
    width: auto

@media screen and ( min-width: 768px )
  .app
    // flex-direction: row
    justify-content: center
    max-width: 968px
    margin: 0 auto

    svg
      flex: 1
      max-width: 500px
      margin: 0 20px

    .cardContainer
      display: flex

    .containerOutput
      flex: 1
      margin: 0 20px

      .binInput
        margin: 0 0 20px 0

        input
          margin: 0